# cmake files
*.cmake
CMakeFiles/
CMakeCache.txt
Makefile
detect_cuda_compute_capabilities.cpp
detect_cuda_version.cc

# execute and library file
__pycache__
*.so
Release
Debug

# configuration file
*.cfg
